<div class="car-info-block">
  <app-title-h2 titleH2="{{ titleH2 }}"></app-title-h2>
  <div class="car-info-form">
    <form class="form">
      <div class="select-city">
        <p>Город регистрации</p>
        <select class="select" name="city" [(ngModel)]="carInfo.city" (ngModelChange)="carInfoToKbm()">
          <option [ngValue]="{city: 'Москва', value: '1.5'}">Москва</option>
          <option [ngValue]="{city: 'Санкт-Петербург', value: '1.5'}">Санкт-Петербург</option>
          <option [ngValue]="{city: 'Белгород', value: '1.1'}">Белгород</option>
          <option [ngValue]="{city: 'Курск', value: '1.1'}">Курск</option>
        </select>
      </div>
      <div>
        <app-input
          [type]="'text'"
          [label]="'Марка'"
          [placeholder]="'Марка'"
          [myInputValue]="carInfo.brand"
          (onChange)="carInfo.brand = $event; carInfoToKbm()"
        ></app-input>
      </div>
      <div class="car-info-number">
        <app-input
          [label]="'Гос номер'"
          [type]="'text'"
          [width]="'66px'"
          [marginLeft]="'130px'"
          [placeholder]="'A 111 AA'"
          [myInputValue]="carInfo.gosNumber.number"
          (onChange)="carInfo.gosNumber.number = $event; carInfoToKbm()"
        ></app-input>
        <app-input
          [type]="'text'"
          [width]="'30px'"
          [placeholder]="'31'"
          [myInputValue]="carInfo.gosNumber.region"
          (onChange)="carInfo.gosNumber.region = $event; carInfoToKbm()"
        ></app-input>
        <app-input
          [type]="'text'"
          [width]="'30px'"
          [placeholder]="'RUS'"
          [myInputValue]="carInfo.gosNumber.country"
          (onChange)="carInfo.gosNumber.country = $event; carInfoToKbm()"
        ></app-input>
      </div>
      <div>
        <app-input
          [type]="'text'"
          [label]="'Vin'"
          [placeholder]="'vin'"
          [myInputValue]="carInfo.vin"
          (onChange)="carInfo.vin = $event; carInfoToKbm()"
        ></app-input>
      </div>
    </form>
  </div>
</div>
