@import 'src/environment.scss';

.car-info-form {
  display: flex;
  justify-content: center;
}

.car-info-block {
  background-color: $color-selected;
}

.form {
  width: 450px;
}

.select-city {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 6px;
}

.select {
  width: 242px;
  height: 50px;
  margin: 10px 5px;
  padding: 13px 6px 11px 10px;
  font-family: $font-family-noto;
  font-size: 14px;
  line-height: 1.57143;
  font-weight: 400;
  font-style: normal;
  color: $color-input;
  border: 1px solid $color-input-border;
  border-radius: 10px;
  background: $color-input-background;
  outline: none;
}

.car-info-number {
  display: flex;
  align-items: center;
}
