<app-title-h2 titleH2="{{ titleH2 }}"></app-title-h2>
<div class="drivers-table-block">
  <table class="table">
    <tr>
      <th class="th" style="width: 300px">Ф.И.О.</th>
      <th class="th" style="width: 70px">Возраст водителя</th>
      <th class="th" style="width: 70px">Стаж вождения</th>
      <th class="th" style="width: 70px">КБМ</th>
      <th class="th" style="width: 70px">Удалить</th>
    </tr>
    <tr *ngFor="let item of driverInfoInTable; let i = index" (dblclick)="changeDriverDblclick(item, i)">
      <td class="td">{{ item.fio }}</td>
      <td class="td">{{ item.age }}</td>
      <td class="td">{{ item.stage }}</td>
      <td class="td">{{ item.kbm }}</td>
      <td class="td">
        <app-button [text]="'х'" [padding]="'4px 10px'" (click)="deleteDriver(i)"></app-button>
      </td>
    </tr>
  </table>
  <h3 *ngIf="driverInfoInTable.length > 0">Для редактирования дважды кликни по строке водителя</h3>
  <h3 *ngIf="driverInfoInTable.length === 0">Нет добавленных водителей</h3>
</div>
