@import 'src/environment.scss';

.kbm {
  display: flex;
  justify-content: center;
  background-color: $color-kbm-background;
  padding: 20px;
  align-items: center;
  flex-direction: column;
}

.kbm-table {
  border-collapse: collapse;

  &__head {
    background-color: $color-table-th-background;
    padding: 16px 10px;
    color: $color-table-th-text;
    border: 1px solid $color-table-border;
  }

  &__data {
    background-color: $color-table-td-background;
    border: 1px solid $color-table-border;
    color: $color-table-text;
    padding: 6px 6px;
  }
}
