<app-title-h2 titleH2="{{ titleH2 }}"></app-title-h2>
<div class="kbm-block">
  <table class="table" *ngIf="!hiddenTable">
    <tr>
      <th class="th" style="width: 300px">Город регистрации</th>
      <th class="th" style="width: 70px">Марка</th>
      <th class="th" style="width: 70px">Гос номер</th>
      <th class="th" style="width: 70px">Vin</th>
    </tr>
    <tr>
      <td class="td">{{ combineInfo[0].carInfo.city.city }}</td>
      <td class="td">{{ combineInfo[0].carInfo.brand }}</td>
      <td class="td">{{ combineInfo[0].carInfo.gosNumber.view }}</td>
      <td class="td">{{ combineInfo[0].carInfo.vin }}</td>
    </tr>

    <tr>
      <th class="th" style="width: 300px">Ф.И.О.</th>
      <th class="th" style="width: 70px">Возраст водителя</th>
      <th class="th" style="width: 70px">Стаж вождения</th>
      <th class="th" style="width: 70px">КБМ</th>
    </tr>
    <tr *ngFor="let item of combineInfo">
      <td class="td">{{ item.driver.fio }}</td>
      <td class="td">{{ item.driver.age }}</td>
      <td class="td">{{ item.driver.stage }}</td>
      <td class="td">{{ item.driver.kbm }}</td>
    </tr>
    <tr>
      <td class="td">Итоговая стоимость ОСАГО</td>
      <td class="td">{{ finalPriseInTable }} рублей</td>
    </tr>
  </table>
  <app-button [text]="'Рассчитать'" (click)="finalPrice()"></app-button>
</div>
