<app-car-info #carInfo (carInfoChange)="getCarInfo($event)"></app-car-info>

<app-drivers-table
  [driverData]="driverInfo"
  (deleteDriverEvent)="updatePersonInfo()"
  (editableDriver)="driverChange($event)"
></app-drivers-table>

<h2 class="title-block">Добавить нового водителя</h2>
<app-button [disableBtn]="!!driverData" (clickBtn)="toggleVisible()"></app-button>

<app-add-driver
  *ngIf="driverData"
  [setDriver]="driverData"
  (clickBtnAdd)="addDriverInTableArray($event)"
  (clickBtnCancel)="toggleVisible(false)"
></app-add-driver>

<app-kbm [combineInfo]="combineDriversInfo" (markAllTouched)="carInfoComponent.markAllTouched()" ></app-kbm>
