<app-title-h1 [titleTextMain]="titleMain"></app-title-h1>

<app-car-info (carInfoChange)="getCarInfo($event)"></app-car-info>

<app-drivers-table
  [driverData]="driverInfo"
  (deleteDriverEvent)="updatePersonInfo()"
  (editableDriver)="driverChange($event)"
></app-drivers-table>

<app-title-h2 [titleTextForBlock]="titleBlock"></app-title-h2>

<app-button [disableBtn]="!!driverData" (clickBtn)="toggleVisible()"></app-button>

<app-add-driver
  *ngIf="driverData"
  [setDriver]="driverData"
  (clickBtnAdd)="addDriverInTableArray($event)"
  (clickBtnCancel)="toggleVisible(false)"
></app-add-driver>

<app-kbm [combineInfo]="combineDriversInfo"></app-kbm>
