<app-title-h1 titleH1="{{ titleH1 }}"></app-title-h1>

<app-car-info (carInfoForKbm)="carInfoKbm($event)"></app-car-info>

<app-drivers-table
  [driverInfoInTable]="driverFromInputArray"
  (changeTableDriver)="toggleVisible($event)"
  (changeDriverInput)="driverChange($event)"
  (deleteDriverEv)="updatePersonInfo()"
></app-drivers-table>

<app-title-h2 titleH2="{{ titleH2 }}"></app-title-h2>

<app-button [disableBtn]="visibleAddForm" (clickBtn)="toggleVisible($event)"></app-button>

<app-add-driver
  *ngIf="visibleAddForm"
  [setDriver]="driverChangeInput"
  (clickBtnAdd)="addDriverInTableArray($event)"
  (clickBtnCancel)="toggleVisible($event)"
></app-add-driver>

<app-kbm [combineInfo]="combineDriversInfo" [cityInfo]="carInfo.city.city"></app-kbm>
