//fonts
$font-family-kievit: 'Kievit Pro', sans-serif;
$font-family-noto: 'Noto Sans', sans-serif;

//фон html
$color-html: #696969;

//заголовки
$color-h1: #ce253d;
$color-h2: #696969;
$background-color-h1: #f3f3f3;
$background-color-h2: #f3f3f3;

//выделение текста
$color-selected: #fff;
$background-selected: #ce253d;

//input
$color-input: #585858;
$color-input-border: #dbdbdb;
$color-input-border-focus: #adadad;
$color-input-background: #f4f4f7;

//button
$color-button-background: #ce253d;
$color-button-background-hover: #b02336;
$color-button-text: #fff;

//table
$color-table-border: #eaeaea;
$color-table-text: #585858;
$color-table-th-background: #ce253d;
$color-table-th-text: #fff;
$color-table-td-background: #f4f4f7;
$color-table-background: #fff;

//kbm
$color-kbm-background: #fff;
