@import 'src/environment.scss';
body {
  margin: 0;
  background-color: $background-color-h2;
}
html {
  font-family: $font-family-noto;
  color: $color-html;
  margin: 0;
  padding: 0;
}
::selection {
  color: $color-selected;
  -webkit-text-stroke-color: transparent;
  background: $background-selected;
}
